<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.AppletsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.entity.Applets">
        <id column="id" property="id" />
        <result column="app_id" property="appId" />
        <result column="app_secret" property="appSecret" />
        <result column="pay_id" property="payId" />
        <result column="pay_secret" property="paySecret" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, app_id, app_secret, pay_id, pay_secret, create_time
    </sql>

</mapper>
