<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.BoxItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.entity.BoxItem">
        <id column="id" property="id" />
        <result column="item_id" property="itemId" />
        <result column="box_id" property="boxId" />
        <result column="spesc_id" property="spescId" />
        <result column="create_time" property="createTime" />
        <result column="probability" property="probability" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, item_id, box_id, spesc_id, create_time, probability, is_delete
    </sql>

</mapper>
