<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.ConfigsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.entity.Configs">
        <id column="id" property="id" />
        <result column="wechat_code" property="wechatCode" />
        <result column="cash_out_money" property="cashOutMoney" />
        <result column="cash_out_poundage" property="cashOutPoundage" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, wechat_code, cash_out_money, cash_out_poundage, create_time
    </sql>

</mapper>
