<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.ItemSpecsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.entity.ItemSpecs">
        <id column="id" property="id" />
        <result column="item_id" property="itemId" />
        <result column="img" property="img" />
        <result column="name" property="name" />
        <result column="price" property="price" />
        <result column="line_price" property="linePrice" />
        <result column="is_delete" property="isDelete" />
        <result column="create_time" property="createTime" />
        <result column="stock" property="stock" />
        <result column="sales" property="sales" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, item_id, img, name, price, line_price, is_delete, create_time, stock, sales
    </sql>

</mapper>
