<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.NsOrderSellMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.entity.NsOrderSell">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="sell_user_id" property="sellUserId" />
        <result column="box_id" property="boxId" />
        <result column="box_classify_id" property="boxClassifyId" />
        <result column="title" property="title" />
        <result column="price" property="price" />
        <result column="content" property="content" />
        <result column="is_delete" property="isDelete" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, sell_user_id, box_id, box_classify_id, title, price, content, is_delete, create_time
    </sql>

</mapper>
