<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.NsOrderItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.entity.NsOrderItem">
        <id column="order_item_id" property="orderItemId" />
        <result column="order_id" property="orderId" />
        <result column="item_id" property="itemId" />
        <result column="item_name" property="itemName" />
        <result column="price" property="price" />
        <result column="num" property="num" />
        <result column="item_money" property="itemMoney" />
        <result column="item_picture" property="itemPicture" />
        <result column="user_id" property="userId" />
        <result column="create_time" property="createTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_item_id, order_id, item_id, item_name, price, num, item_money, item_picture, user_id, create_time, is_delete
    </sql>

</mapper>
