<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.UserCouponMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.entity.UserCoupon">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="coupon_id" property="couponId" />
        <result column="coupon_title" property="couponTitle" />
        <result column="coupon_types" property="couponTypes" />
        <result column="coupon_price" property="couponPrice" />
        <result column="coupon_discount" property="couponDiscount" />
        <result column="coupon_use_min_price" property="couponUseMinPrice" />
        <result column="state" property="state" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="is_delete" property="isDelete" />
        <result column="shop_status" property="shopStatus" />
        <result column="shop_id" property="shopId" />
        <result column="shop_name" property="shopName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, coupon_id, coupon_title, coupon_types, coupon_price, coupon_discount, coupon_use_min_price, state, start_time, end_time, is_delete, shop_status, shop_id, shop_name
    </sql>

</mapper>
